<div id="app">

    <nav class="navigation">

        <div style="padding:10px;float:right;">
            <span v-if="serverConnectionState == 'disconnected'">Disconnected from proxy server!</span>
            <span v-if="serverConnectionState == 'connecting'">Connecting to proxy server...</span>
            <span v-if="serverConnectionState == 'conncted'">Connected to proxy server!</span>
        </div>

    </nav>





</div>