<html>

<head>
    <script src="lib/vue/vue.js"></script>
    <script src="lib/signalr/signalr.js"></script>
    <script src="lib/signalr/proxyClient.js"></script>
    <script src="lib/moment/moment-with-locales.js"></script>
    <script src="lib/misc/syntax_highlight.js"></script>

    <link href="style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Fira+Sans+Condensed|Inconsolata" rel="stylesheet">

    <title>Webhook Proxy</title>
</head>
<body style="margin:40px;background-color: #FAFBFD;">
    <div id="app">

        <!-----------------------------------------------------------------------------------------------------------------------------------------------
        HEADER
        ----------------------------------------------------------------------------------------------------------------------------------------------->
        <div style="background-color: #24292D;vertical-align: middle;padding:12px;position: absolute;top:0;left:0;right:0;">
            <span v-if="serverConnectionState == 'connected'" style="font-family: 'Fjalla One', sans-serif;color:#f0f0f0;font-size:24px;">WEBHOOK PROXY</span>
            <span v-if="serverConnectionState != 'connected'" style="font-family: 'Fjalla One', sans-serif;color:#f0f0f0;font-size:24px;">{{serverConnectionState}}</span>
        </div>

        <div v-if="serverConnectionState == 'connected'">
                
            <!-----------------------------------------------------------------------------------------------------------------------------------------------
            ENDPOINTS 
            ----------------------------------------------------------------------------------------------------------------------------------------------->
            <div style="margin-top:100px;margin-bottom:10px;font-family: 'Fjalla One', sans-serif;color:gray;font-size: 19px;">
                ENDPOINTS
            </div>
            
            <div style="margin-bottom:40px;font-family: 'Fira Sans Condensed', sans-serif;color:gray;padding:10px;background-color: #ffffff;border: 1px solid #f0f0f0">
                <table style="font-size:14px;" border=0>
                    <tr>
                        <td style="padding-right:40px;height:30px;width:100px;">WEBHOOK URL</td>
                        <td v-if="!webhookEndpointEditMode" v-on:click="webhookEndpointEditMode = true" style="cursor:pointer;">{{domainName}}/{{webhookEndpoint}}</td>
                        <td v-if="webhookEndpointEditMode">
                                {{domainName}}/<input type="text" v-model="editWebhookEndpoint" onblur="proxyClient.subscribeEndpoint(app.editWebhookEndpoint);" style="width:370px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right:40px;height:30px;width:100px;">DESTINATION URL</td>
                        <td v-if="!destinationEndpointEditMode">
                            <span v-on:click="destinationEndpointEditMode = true" style="cursor:pointer;">{{ destinationEndpointUrl }}</span>
                        </td>
                        <td v-if="destinationEndpointEditMode">
                                <input type="text" style="width:500px;" v-model="destinationEndpointUrl" v-on:blur="destinationEndpointEditMode=false" />
                        </td>
                    </tr>
                </table>
            </div>

            <!-----------------------------------------------------------------------------------------------------------------------------------------------
            CURRENT TRANSACTION
            ----------------------------------------------------------------------------------------------------------------------------------------------->
            <div style="margin-bottom:10px;font-family: 'Fjalla One', sans-serif;color:gray;font-size: 19px;">
                CURRENT TRANSACTION
            </div>
            <div v-if="!currentTransaction" style="margin-bottom:40px;padding:15px;font-size:14px;background-color: #ffffff;border: 1px solid #f0f0f0;font-family: 'Inconsolata', monospace;">
                No ongoing transaction (waiting for request to webhook url)
            </div>

            <div v-if="currentTransaction">
            
                <div style="margin:20px;margin-top:0px;margin-bottom:30px;padding:15px;background-color:#ffffff;">

                    <div v-if="currentTransaction.response.headers || currentTransaction.response.body" style="margin-bottom:15px;">
                        <div>
                            <span v-if="hideTransactionHeaders" style="font-size:14px;font-family:'Oswald','Inconsolata',sans-serif;color:lightgray;cursor: pointer;margin-right:5px;" v-on:click="hideTransactionHeaders=false;">HEADERS</span>
                            <span v-if="!hideTransactionHeaders" style="font-size:14px;font-family:'Oswald','Inconsolata',sans-serif;color:black;cursor: default;margin-right:5px;">HEADERS</span>

                            <span v-if="hideTransactionHeaders" style="font-size:14px;font-family:'Oswald','Inconsolata',sans-serif;color:black;cursor: default;">BODY</span>
                            <span v-if="!hideTransactionHeaders" style="font-size:14px;font-family:'Oswald','Inconsolata',sans-serif;color:lightgray;cursor: pointer;" v-on:click="hideTransactionHeaders=true;">BODY</span>

                        </div>
                    </div>

                    <hr>

                    <div style="margin-top:15px;">
                        <div style="float:right;font-family: Inconsolata;font-size: 13px;">
                            {{ currentTransaction.created }}
                        </div>
                        <h3 style="margin:0px;">{{ currentTransaction.proxyRequest.method }} REQUEST FROM PROXY</h3>
                    </div>

                    <div style="margin-top:20px;margin-bottom:30px;">
                        <div v-if="!hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;" v-html="currentTransaction.proxyRequest.headers"></div>
                        <div v-if="hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;" v-html="currentTransaction.proxyRequest.body"></div>
                    </div>

                    <hr>

                    <div style="margin-top:15px;">
                        <div style="float:right;font-family: Inconsolata;font-size: 13px;">
                            {{ currentTransaction.response.created }}
                        </div>
                        <h3 v-if="currentTransaction.response.status != 'sending'" style="margin:0px;">HTTP {{ currentTransaction.response.statusCode }} RESPONSE FROM DESTINATION</h3>
                        <h3 v-if="currentTransaction.response.status == 'sending'" style="margin:0px;">Waiting for response from destination..</h3>

                    </div>

                    <br>
                    <div v-if="!hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;" v-html="currentTransaction.response.headers"></div>
                    <div v-if="hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;" v-html="currentTransaction.response.body"></div>

                </div>

            </div>

            <!-----------------------------------------------------------------------------------------------------------------------------------------------
            TRANSACTION LOG
            ----------------------------------------------------------------------------------------------------------------------------------------------->
            <div style="margin-bottom:10px;font-family: 'Fjalla One', sans-serif;color:gray;font-size: 19px;">
                TRANSACTION LOG
            </div>
            <div v-if="transactionLog.length == 0" style="padding:15px;font-size:14px;background-color: #ffffff;border: 1px solid #f0f0f0;font-family: 'Inconsolata', monospace;">
                Empty
            </div>
                        
            <div v-if="transactionLog.length > 0" style="margin-bottom:15px;margin-left:5px;font-size:14px;font-family:'Oswald','Inconsolata',sans-serif;">
                <div>
                    <span v-if="hideTransactionHeaders" style="color:#cccccc;cursor: pointer;margin-right:5px;" v-on:click="hideTransactionHeaders=false;">HEADERS</span>
                    <span v-if="!hideTransactionHeaders" style="color:#7e7e7e;cursor: default;margin-right:5px;">HEADERS</span>

                    <span v-if="hideTransactionHeaders" style="color:#7e7e7e;cursor: default;">BODY</span>
                    <span v-if="!hideTransactionHeaders" style="color:#cccccc;cursor: pointer;" v-on:click="hideTransactionHeaders=true;">BODY</span>

                </div>
            </div>

            <div v-for="(transaction, index) in transactionLog.slice().reverse()" style="margin-bottom:10px;padding:15px;font-size:14px;background-color: #ffffff;border: 1px solid #f0f0f0;font-family: 'Inconsolata', monospace;">

                <div v-if="transaction.expandedView == false" v-on:click="transaction.expandedView = true">
                    <h3 style="margin:0px;float:right;">{{ moment(transaction.created).format("hh:mm:ss") }}</h3>
                    <h3 style="margin:0px;font-size:18px;background-color: #ffffff;font-family: 'Inconsolata', monospace;">HTTP {{ transaction.request.method }} - HTTP {{ transaction.response.statusCode }}</h3>
                </div>

                <div v-if="transaction.expandedView == true" v-on:click="transaction.expandedView = false">

                    <div style="font-size:18px;background-color: #ffffff;font-family: 'Inconsolata', monospace;">
                        <div style="float:right;font-size:18px;background-color: #ffffff;font-family: 'Inconsolata', monospace;">
                            {{ moment(transaction.created).format("hh:mm:ss") }}
                        </div>
                        <h3 style="margin:0px;font-size:18px;background-color: #ffffff;font-family: 'Inconsolata', monospace;">HTTP {{ transaction.proxyRequest.method }} - REQUEST FROM PROXY</h3>
                    </div>

                    <div style="margin-top:20px;margin-bottom:20px;">
                        <div v-if="!hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;" v-html="transaction.proxyRequest.headers"></div>
                        <div v-if="hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;" v-html="transaction.proxyRequest.body"></div>
                    </div>

                    <hr style="border:1px solid lightgray;">

                    <div style="margin-top:20px;">
                        <div style="float:right;font-size:18px;background-color: #ffffff;font-family: 'Inconsolata', monospace;">
                            {{ moment(transaction.response.created).format("hh:mm:ss") }}
                        </div>
                        <h3 v-if="transaction.response.status" style="margin:0px;font-size:18px;background-color: #ffffff;font-family: 'Inconsolata', monospace;">HTTP {{ transaction.response.statusCode }} - RESPONSE FROM DESTINATION</h3>

                    </div>

                    <br>
                    <div v-if="!hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;margin-bottom:10px;" v-html="transaction.response.headers"></div>
                    <div v-if="hideTransactionHeaders" style="font-family:Inconsolata;font-size:14px;margin-bottom:10px;" v-html="transaction.response.body"></div>

                </div>

            </div>  
        </div>

    </div>
    
    <script src="lib/vue/app.js"></script>
</body>

</html>